/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}


.container-main {
    height: calc(100vh - 50px);
    background-color: aqua;
}

footer {
    height: 50px;
    background-color: black;
}

/* main */
/* main-top */

.container-main-top {
    height: 25px;
    background-color: green;
}

.container-main-top {
    justify-content: flex-end;
}

.container-speackerview {
    margin-top: 5px;
    height: 15px;
    width: 50px;
    background-color: red;  
}

.container-screen {
    margin-top: 5px;
    margin-left: 5px;
    height: 15px;
    width: 15px;
    background-color: blue;  
}

/* main-bottom */

.container-main-bottom {
    flex-wrap: wrap;
}

.cameras {
    margin: 10px;
    height: calc((100% / 5) - 20px);
    width: calc((100% / 7) - 20px);
    background-color: yellowgreen;
}
