/* general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}


.container-main {
    height: calc(100vh - 50px);
    background-color: black;
}

footer {
    height: 50px;
    background-color: grey;
}

/* main */
/* main-top */

.container-main-top {
    height: 25px;
    
}

.container-main-top {
    justify-content: flex-end;
}

.button-view {
    font-size: 5px;
    color: white;
    background-color: grey;
    border-radius: 2px;
    border: 1px none;
    padding: 3px;
}

.button-screen {
    font-size: 5px;
    color: white;
    background-color: grey;
    border-radius: 2px;
    border: 1px none;
    padding: 3px;
    margin: 0 3px;
}

/* main-bottom */

.container-main-bottom {
    flex-wrap: wrap;
}

.cameras {
    margin: 10px;
    height: calc((100% / 5) - 20px);
    width: calc((100% / 7) - 20px);
    background-color: yellowgreen;
}

/* footer */

.container-footer {
    justify-content: space-between;
    
}

.footer {
    width: 50px;
    height: 25px;
    background-color: red;    
}